!┌──────────────────────────────────────────────────────────────────────────┐
!│▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒│
!│▒▒┌─────┐░▒┌─────┐░▒┌──────────────┐░▒┌──────────────┐░▒┌──────────────┐░▒│
!│▒▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒┌──┐▒▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒┌───────────┘░▒│
!│▒▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▒▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒│░▒▒▒▒▒▒▒▒▒▒▒▒▒│
!│▒▒│▓▒▒▒▒└──┘▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▒▒▒▒▒│░▒│▓▒┌───────────┘░▒│▓▒└───────────┐░▒│
!│▒▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒▒▒▒└──┘▒▒▒▒▒│░▒│▓▒│░▒▒▒▒▒▒▒▒▒▒▒▒▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒┌┘░▒│▓▒└──────────┐░▒▒└───┐▓▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒└┐▒▒▒▒▒▒▒▒▒▒▒▒┌┘░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒└┐░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒│░▒▒▒▒▒▒│▓▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒▒│▒▒▒▒▒▒▒▒▒▒▒▒│░▒▒│▓▒▒▒▒┌──┐▓▒▒▒▒│░▒│▓▒┌──────────┘░▒▒┌─┐░│▓▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒┌┘▒▒▒▒▒▒▒▒▒▒▒▒└┐░▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒│░▒▒▒▒▒▒▒▒▒▒▒▒▒│▓│░│▓▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒│░▒▒▒▒▒▒▒▒▒▒▒▒▒│▓│░│▓▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒│▓▒▒▒▒┌──┐▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒└───────────┐░▒│▓└─┘▓▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒└─────┘░▒└─────┘░▒└─────┘░▒└─────┘░▒└──────────────┘░▒└──────────────┘░▒│
!│▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒│
!└──┐┌──┐▒┌┐▓▒▒▒▒▒▒┌───┐┌┐┌┐▓▒▒▒▒▒▒▒▒┌──┐▓▒▒┌────┐┌┐▓▒▒┌───┐▓▒▒▒▒▒▒▒┌───────┘
!   ││  │▒│└────┐▓▒│   ││││└────┐▓▒┌─┘  │▒▒▒│    │││▓▒▒│   │▓▒▒▒▒▒▒▒│▒▒▒▒
!   ││  │▒│     │▓▒│   ││││ ▓▒▒▒│▓▒│    │▒▒▒│     │└┐▓▒│   │▓▒▒▒▒▒▒▒│▒
!   ││  │▒│     │┌─┘   ││││ ▓   │▓▒│    │▒▒▒│     │ │▓▒│   │▓▒▒▒▒▒▒▒│▒
!   ││  │▒│     ││▒    ││└┘     │▓▒│    │▒┌─┘       │▓┌┘   │▓▒▒▒▒▒▒▒│
!   ││  │▓│     ││▒    ││       │▓▒│    │▒│         │▓│    │▓▒▒▒▒▒▒▒│
!   ││  │▓│     ││     ││   ▓   │▓▒│    └┬┘         │▓│    │▓▒▒▒▒▒▒▒│
!   ││  └─┘     ││     └┘       │▓▒│     │          │▓│    │▓▒▒▒▒▒▒▒│
!   ││  ┌─┐     └┘▒      ┌┐     └┬┬┘                └─┘    └┬─┬┬─┬┬┬┘
!   ││  │▒│              ││      ││                           ││▓│││
!   └┘  │▓│       ▓      ││       │      │           ▒      │ ││  │
!       └─┘              └┘                                   │   │
!   ┌┐  ┌─┐            ┌┐         │                  ▒           │
!   └┘  │▓│       ▓    ││                                     │
!   ┌┐  └─┘            ││                                       ▓
!   └┘                 └┘                                     │  │
!                                                             │
!
!                                                           │

!##########################################
!#                 Colors                 #
!##########################################

! special
*.foreground:   #dfdfdf
*.background:   #070e14
*.cursorColor:  #dfdfdf

! black
*.color0:       #070e14
*.color8:       #3C4B54

! red
*.color1:       #eb1f1c
*.color9:       #eb1f1c

! green
*.color2:       #a2ba00
*.color10:      #a2ba00

! yellow
*.color3:       #ffc100
*.color11:      #ffc100

! blue
*.color4:       #0076ff
*.color12:      #0076ff

! magenta
*.color5:       #f0147f
*.color13:      #f0147f

! cyan
*.color6:       #00d7c6
*.color14:      #00d7c6

! white
*.color7:       #dfdfdf
*.color15:      #dfdfdf

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
XTerm.vt100.faceName: Fira Mono:size=11:antialias=true
!XTerm.vt100.font: -cherry-r-normal-*-12-120-75-75-c-*-iso8859-*
Xft.rgba: rgb
Xft.dpi: 96
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.selectToClipboard: true
Xcursor*theme: Adwaita
XTerm.scaleHeight: 1.01
Xmessage*defaultButton:            okay
Xmessage*form.message.Scroll:      WhenNeeded

*transparent:                      false
*lineSpace:                        0
! *letterSpace:                      -1
! *fading:                           30
*cursorBlink:                      true
*cursorUnderline:                  true
*saveLines:                        4096
*shading:                          75
*mouseWheelScrollPage:             false
*pointerBlank:                     true
*imLocale:                         en_US.utf8
!*imFont:                           xft:scientifica:regular:size=10
*utf8Title:                        true

*xterm*metaSendsEscape:            true
*xterm*renderFont:                 true
*xterm*bellIsUrgent:               true
*xterm*allowSendEvents:            false
*xterm*sessionMgt:                 false
*xterm*VT100*colorULMode:          on
*xterm*VT100*colorBDMode:          off
*xterm*VT100.titeInhibit:          off
*xterm*VT100.translations:         #override \n Shift <Key>Home: scroll-back(4096) \n Shift <Key>End: scroll-forw(4096)
*xterm*VT100.geometry:             80x32
*xterm*SimpleMenu*background:      #353535
*xterm*SimpleMenu*foreground:      #AAA
*xterm*dynamicColors:              true
*xterm*eightBitInput:              true
*xterm*eightBitControl:            false
*xterm*eightBitOutput:             true
*xterm*trimSelection:              true
*xterm*charClass:                  33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

XClock*foreground: #807A86
XClock*background: #1D1C25
XClock*width:                      350
XClock*height:                     350
XClock*update:                     1
XClock*hourColor:                  cyan
XClock*minuteColor:                cyan
XClock*secondColor:                red
XClock*majorColor:                 red
XClock*minorColor:                 cyan

emacs.FontBackend: x,xft
emacs.font:                 Hack-14
emacs.paneFont:             Hack-14
emacs.pointerColor:         white
emacs.scrollBarWidth:       0
emacs.useXIM:               true
emacs.verticalScrollBars:   false

st.termname:    st-256color
st.font:        Hasklig:size=9:hinting=full:antialias=false
st.cwscale:     1.1
st.chscale:     1.1
st.bellvolume:  0
st.borderpx:    10px

dzen2.font: xft:OfficeCodePro:size=11
